body{
    font-family:'Roboto', sans-serif;
    background: #2F343A;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style-type: none;
}
.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-6{
    width: 50%;
}
.btn{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #C8A35F;
    transition: .7s;
}

.btn:hover{
    background-color: transparent;
    border: 3px solid #C8A35F;
}