body{
    font-family:'Roboto', sans-serif;
    background: #2F343A;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul li{
    list-style-type: none;
}
.container{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.flex-end{
    justify-content: flex-end;
}
.col-6{
    width: 50%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.3333333333333%;
}
.col-5{
    width: 41.6666666666666667%;
}
.col-7{
    width: 58.333333333333333333%;
}
.btn{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: #C8A35F;
    transition: .7s;
}

.btn:hover{
    background-color: transparent;
    border: 3px solid #C8A35F;
}
.horizontal__line{
    width: 90px;
    height: 6px;
    background-color:#C8A35F;
}
.title--h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-align: left;
    color: white;
    text-transform: uppercase;
}

/*MEDIA
====================================================*/
@media screen and (max-width:1024px){
    .container{
        padding: 0 25px;
    }
    .col-6{
        width: 100%;
    }
    .title--h2{
        font-size: 34px;
    }
}