/*transportation left site
===================================*/
.transportation__row{
    padding: 120px 0;
    align-items: center;
}
.transportation__title{
    margin: 40px 0 30px 0;
    width: 70%;
}
.transportation__subtitle{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-bottom: 50px;
    width: 80%;
}
.transportation__button{
    padding: 18px 48px;
}

/*transportation right
==================================*/


.next__arrow, .prev__arrow{
    display: flex;
    align-items: center;
}
.transportation__arrows span{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #C8A35F;
    text-transform: uppercase;
}
.arrow__right ,.arrow__left{
    fill:#C8A35F;
    width: 200px;
    height: 50px;

} 
/*before and after
==================================*/

.transportation{
    position: relative;
}
.trach-img{
    max-width: 445px;
}
.after{
    justify-self: flex-start;
}
.before::before {
    content: '';
    position: absolute;
    left:0;
    top: 0;
    width: 39%;
    height: 100%;
    background-color: #494b4e;
    z-index: -1;
  }
  .after::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 39%;
    height: 100%;
    background-color: #494b4e;;
    z-index: -1;
  }
  
/*transportation__slider
==================================*/
.transportation{
    position: relative;
}

 .transportation .prev__arrow{
    position: absolute;
    bottom:120px;
    right: 21%;
}
.transportation .next__arrow{
    position: absolute;
    right:17%;
    top:120px;
} 
.transportation  .slick-list{
    width: 75%;
}
.next__arrow::before{
    content:'СЛЕД';
    position: absolute;
    color:#C8A35F;
}
 .prev__arrow::before{
    content:'НАЗАД';
    position: absolute;
    color:#C8A35F;
    right: 0;
} 

/*MEDIA
======================================*/
@media screen and (max-width:1024px){
    .before::before {
    width: 0%;
  }
  .after::after{
      width: 0;
  }
  .transportation__subtitle{
      margin-bottom: 30px;
      width: 100%;
  }
  .transportation__item{
      margin-bottom: 50px;
  }
  .transportation  .slick-list{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .transportation:last-child{
      position: relative;
  }
  .transportation .prev__arrow{
    bottom:120px;
    right: 45%;
}
.transportation .next__arrow{
    right: -15%;
    bottom: -453px;
} 
}